/* following two viewport lines are equivalent to the meta viewport statement above, needed for Windows */
/* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html and http://dev.w3.org/csswg/css-device-adapt/ */
@-ms-viewport { width: 100vw ; zoom: 100% ; }  @viewport { width: 100vw ; zoom: 100% ; }
@-ms-viewport { user-zoom: fixed ; }           @viewport { user-zoom: fixed ; }

body{
	padding-top: 54px;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	background-color: black;
	color: #A9A9A9;
	-webkit-overflow-scrolling: touch;
}
.noMargin{ margin: 0 0; padding: 0 10px; }
.navbar-brand{ padding-left: 0px; }
.marginTop10{ margin-top: 10px; }
.marginTop20{ margin-top: 20px; }
.marginTop0{ margin-top: 0px; }
.marginBottom10{ margin-bottom: 10px; }
.marginBottom20{ margin-bottom: 20px; }
.marginRight10{ margin-right: 10px; }
.marginRight20{ margin-right: 20px; }
.marginLeft20{ margin-left: 20px; }
.semiTransparente{ opacity: .6; }
.padding0{ padding: 0; }
.paddingRight0{ padding-right: 0; }
.paddingLeft4{ padding-left: 4px; }
.paddingLeft4{ padding-left: 4px; }
.negritas{ font-weight: bold; }
.collapse, .collapse.in, .clicking { transition: all .8s;}
.dropdown-toggle{ padding: 6px 12px !important; } 
.precioSum{ margin-right: 4px; }
.w100{ width: 100%; }
.f8em{ font-size: .8em; }
.noBG{ background-color: transparent; }
.table-striped>tbody>tr:nth-child(odd)>td{
  background-color: #272727;
}
.table-striped>tbody>tr:nth-child(odd), .table-striped>tbody>tr:nth-child(odd) {
  background-color: #272727;
}
.table-items tr.clicking .trTitulo{
	transition: all 1s;
	text-shadow: 0px 0px 10px white;
	color: transparent;
}
.tabla-registros { margin: 0 -15px; }
.tabla-registros h4{ margin-left: 15px; }
.container {
	padding-right: 6px;
	padding-left: 6px;
}
.navbar-fixed-top{	
	width: 100%;
	padding: 0 14px;
}

.navbar-inverse .navbar-brand {
	background: url(logo_small.png) no-repeat left center;	
	width: 50px;
	height: 50px;
	margin-left: -8px;
	margin-top: 4px;
}
/*MIS COMICS*/
.mc-panel{
	display: inline-block;
	height: 146px;
	border: 1px solid gray;
	background: rgba(255,255,255,0.5) center center no-repeat;
	background-size: cover;
	width: 96px;
	margin: 6px 6px;
	overflow: hidden;
	color: white;
	position: relative;
	border-radius: 2px;
}
.mc-cover { position: relative; }
.mc-volumen, .mc-precio, .mc-titulo{
	background: rgba(0, 0, 0, 0.9);
	text-shadow: 1px 1px 0px black;
}
.mc-volumen, .mc-precio{
	position: absolute;
	top: 0;
	padding: 0 2px;
	/*border: gray 1px solid;*/
	font-size: .9em;
	border-right: none;
	border-top: none;
	color: white;
	opacity: .9;
}
.mc-volumen{ right: 0; }
.mc-precio {  }
.mc-titulo{
	font-size: .68em;
	/*line-height: 1;*/
	padding: 2px 2px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	width: 100%;
}
/*.mc-agregar {
	position: absolute;
	bottom: 2px;
	right: 2px;
}*/
.mc-panel-titulo{
	padding: 14px 0 10px 6px;
	border-top: 1px solid grey;
}
.registro, .registro * { transition: all .3s; }
.adquiridoEscondido
{
	opacity: .1;
}
.table-condensed>tbody>tr>td { border: none; }
/*.twitter-typeahead .tt-dropdown-menu { min-width: 292px; }*/

.detalle-imagen td{
  height: 260px;
	vertical-align: middle;
}
.detalle-imagen img{
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 4px black;
}
.serieTitulo{ padding: 8px 15px; }
.serieDetalle {
	padding: 2px 26px 2px 10px;
	margin: 3px 15px;
	background-color: rgb(0, 0, 0);
	border-radius: 4px;
	font-size: 13px;
	position: relative;
}
.serieDetalleBtn {
	position: absolute;
	right: 0;
	top: 0;
}

.modal-header .close {
  padding: 4px 10px;
}